{% extends 'admin/master.html' %} {# -- BLOK BARU UNTUK MENAMBAHKAN TOMBOL LOGOUT -- #} {% block nav_right_panel %}
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">
            <i class="fa fa-sign-out"></i> Log Out
        </a>
    </li>
</ul>
{% endblock %} {# -- AKHIR BLOK BARU -- #} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-4">Selamat Datang, {{ current_user.name }}!</h1>
            <p class="lead">Ini adalah Dashboard Admin untuk Sistem Presensi Wajah. Anda dapat mengelola data pengguna, mata kuliah, dan melihat riwayat presensi di sini.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Riwayat Presensi Terbaru</h3>
            {% if recent_records %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>Waktu (WIB)</th>
                            <th>Nama Mahasiswa</th>
                            <th>Mata Kuliah</th>
                            <th>Bukti Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in recent_records %}
                        <tr>
                            <td>{{ record.local_time.strftime('%d %b %Y, %H:%M:%S') }}</td>
                            <td>{{ record.user.name }}</td>
                            <td>{{ record.matakuliah.nama_mk }}</td>
                            <td>
                                {% if record.image_path %}
                                <img src="{{ url_for('static', filename=record.image_path) }}" class="img-thumbnail" width="120" alt="Foto Presensi"> {% else %} Tidak ada foto {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Belum ada data presensi yang tercatat.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}